Repository pabloagn/flux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @safety-team, @lead-engineer, @control-team, @operations, @security-team, @devops, @platform-team, @rust-team, @python-team

.github/CODEOWNERS:

# Code Owners
# Safety-critical components require 2 reviewers
/services/safety-interlock/ @safety-team @lead-engineer
/services/control-system/ @control-team @lead-engineer
/lib/flux-safety/ @safety-team
/config/safety/ @safety-team @operations

# Security components
/services/audit-logger/ @security-team
/certs/ @security-team @devops
/config/security/ @security-team

# Core infrastructure
/infra/ @devops @platform-team
*.rs @rust-team
*.py @python-team

docs(README.md): fixed broken div
  README.md
Owners: none

feat(Cargo.lock): generated workspace lockfile
  Cargo.toml
  flake.nix
  flake.nix.bkp
  infra/docker/bkp/docker-compose.base.yml
  infra/docker/bkp/docker-compose.clickhouse.yml
  infra/docker/bkp/docker-compose.control.yml.bkp
  infra/docker/bkp/docker-compose.data-pipeline.yml
  infra/docker/bkp/docker-compose.glassflow.yml
  infra/docker/bkp/docker-compose.kafka.yml
  infra/docker/bkp/docker-compose.ml.yml.bkp
  infra/docker/bkp/docker-compose.nats.yml
  infra/docker/bkp/docker-compose.questdb.yml
  infra/docker/bkp/docker-compose.yml.bkp
  infra/docker/bkp/docker-compose.zookeeper.yml
  infra/docker/compose.override.yml
  infra/docker/compose.yml
  justfile
  lib/flux-common/Cargo.toml
  lib/flux-common/pyproject.toml
  lib/flux-common/src/lib.rs
  lib/flux-control/Cargo.toml
  lib/flux-control/src/lib.rs
  lib/flux-control/src/mpc.rs
  lib/flux-control/src/pid.rs
  lib/flux-protocol/pyproject.toml
  lib/flux-protocol/src/lib.rs
  lib/flux-py-common/Cargo.toml
  lib/flux-safety/Cargo.toml
  lib/flux-safety/src/lib.rs
  lib/flux-state/Cargo.toml
  lib/flux-state/src/consensus.rs
  lib/flux-state/src/distributed.rs
  lib/flux-state/src/lib.rs
  nix/default.nix
  nix/shell-app-tui.nix
  nix/shell-default.nix
  nix/shell-srv-data-pipeline.nix
  nix/shell-srv-sim.nix
Owners: @devops, @platform-team, @rust-team, @safety-team

feat(Cargo.lock): added Cargo.lock
  .gitignore
  Cargo.lock
  apps/operator-tui/Cargo.lock
Owners: none

refactor(operator-tui): refactoring tui for improved modularity
  Cargo.lock
  apps/operator-tui/Cargo.toml
  apps/operator-tui/src/data/clickhouse.rs
  apps/operator-tui/src/data/mod.rs
  apps/operator-tui/src/data/questdb.rs
  apps/operator-tui/src/ui/mod.rs
  config/questdb/questdb.conf
  flake.nix
  infra/docker/compose.yml
  justfile
  services/data-pipeline/src/main.py
  services/data-pipeline/src/questdb_writer.py
  services/kpi-engine/pyproject.toml
  services/simulator/docker-compose.yml.bkp
  services/simulator/flux/config/simulations.py
Owners: @rust-team, @devops, @platform-team, @python-team

refactor(flake.nix): refactored flake
  apps/operator-tui/src/mod.rs.bkp
  apps/operator-tui/src/ui/mod.rs
  apps/operator-tui/src/ui/views.rs
  apps/operator-tui/src/ui/widgets.rs
  flake.nix
  infra/docker/compose.yml
Owners: @rust-team, @devops, @platform-team

fix(data-pipeline): fixing image
  flake.nix
  infra/docker/compose.yml
  justfile
  services/data-pipeline/Dockerfile
  services/data-pipeline/data_pipeline/__init__.py
  services/data-pipeline/data_pipeline/main.py
  services/data-pipeline/data_pipeline/questdb_writer.py
  services/data-pipeline/pyproject.toml
Owners: @devops, @platform-team, @python-team

feat(checkpoint): checkpoint
  apps/operator-tui/src/main.rs
  config/questdb/questdb.conf
  config/schemas/questdb/init.sql
  flake.nix
  infra/docker/compose.yml
  justfile
  services/data-pipeline/data_pipeline/main.py
  services/data-pipeline/data_pipeline/questdb_writer.py
  tests/integration/test_questdb_pipeline.py
Owners: @rust-team, @devops, @platform-team, @python-team
